# Python cache files
__pycache__/
*.py[cod]

# FastAPI specific
*.db
*.sqlite3
*.pkl
*.log

# Environment files
.env
*.env

# Virtual environment directories
venv/
env/
.venv/
.env/

# Secrets
**/local_secrets.py

# MyPy type checking
.mypy_cache/

# pytest cache
.pytest_cache/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
